body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0e68c;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #ff8c00;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.birthday-message {
    color: #ff4500;
    font-size: 3em;
    margin-bottom: 10px;
}

.wishes {
    font-size: 1.5em;
    color: #333;
}

.cake {
    font-size: 4em;
    margin-top: 20px;
}
